@import "src/entities/styles/theme";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bgcolor-header;
  color: $primary-color-second;
  box-shadow: 1px 4px 10px $shadow-color;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 80px;
}
